<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
    <h2>All posts</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Time</th>
            <th>Tags</th>
        </tr>
        <tr th:each="post, stat : ${postsList}">
            <td th:text="${post.getTitle()}"></td>
            <td th:text="${post.getContent()}"></td>
            <td th:text="${post.getTimeOfPost()}"></td>
            <td><a th:href="@{/delete/{id}(id=${stat.index})}">Delete post</a></td>
            <td>Update</td>
        </tr>
    </table>
    <br>
    <h3>Add new post: </h3>
    <form th:action="@{/add}" method="post">
        <p>Title: <input type="text" th:name="title"></p>
        <p>Content: <textarea th:name="content"></textarea></p>
         <p> Category:
             <select th:name="category">
                 <option th:each="category: ${categories}" th:text="${category.name}"></option>
             </select>
         </p>
        <input type="submit">
    </form>
    <br>
    <br>
    <h4>Add new category: </h4>
    <form th:action="@{/addCategory}" method="post">
        <p>Name: <input type="text" th:name="name"></p>
        <input type="submit">
    </form>
</body>
</html>