<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
    <table>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Time</th>
            <th>Tags</th>
        </tr>
        <tr th:each="post, stat : ${postsList}">
            <td th:text="${post.getTitle()}"></td>
            <td th:text="${post.getContent()}"></td>
            <td th:text="${post.getTimeOfPost()}"></td>
            <td th:text="${post.getTags()}"></td>
            <td><a th:href="@{/delete/{id}(id=${stat.index})}">Delete post</a></td>
            <td>Update</td>
        </tr>
    </table>

    <form th:action="@{/add}" method="post">
        <p>Title: <input type="text" th:name="title"></p>
        <p>Content: <textarea th:name="content"></textarea></p>
        <p>Tags: <input type="text" th:name="tags"></p>
        <input type="submit">
    </form>
</body>
</html>